

heading { 
     color: blue; 
     font-size : 50px; 
     font-weight: bold;
     text-align: center;
} 

artist { 
     color: orange; 
     /*background-color : gray; */
     width: 100%; 
     font-size: 25px;
     font-weight : bold;
} 
 genre { 
     color: green; 
     font-size : 25px; 
     /*background-color : powderblue; */
} 
 Record, genre, year, artist, title { 
     display : block; 
} 
  year{ 
     font-size : 20px; 
     color: pink;
     font-weight: initial; 
} 

title
{
	font-size : 20px; 
     color: red;
     font-weight: initial; 
}